p{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-style: italic;

}
img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

body{
    color: rgb(0, 0, 0);
    background-color:yellow;
}
video{
    height:500px;

}
ol{
    list_style_type:upper_roman;

}
ul{
    list_style_type:disc;
}
h1{
    padding:50px;
    border: 1px solid rgb(45, 11, 194);
    margin:50px;
}
button{
    background-color: rgb(219, 177, 10) ;
}

button:hover{
    background-color: black;
}
table, th, td{
    border:1px solid=white;

}
nav{
    display: flex;
    flex-direction:row;
    gap:50px;
}
#p1{
    font-style: italic;
}
#p2{
    font-style: normal;
}
.group{
    font-size: xx-large;
}
.grid{
     display: grid;
}
#one{
    grid-row: 1/2;

}
#two{
    grid-row:2/2;
}
#three{
    grid-row: 1/2;
}
#four{
    grid-row: ;
}